# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Env files
.env
.env.*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Flutter/Dart
app/.dart_tool/
app/.flutter-plugins
app/.flutter-plugins-dependencies
app/.packages
app/build/
app/pubspec.lock
app/ios/Flutter/App.framework
app/ios/Flutter/Flutter.framework
app/ios/Flutter/Flutter.podspec
app/ios/Flutter/Generated.xcconfig
app/ios/Flutter/ephemeral/
app/macos/Flutter/ephemeral/
app/macos/Flutter/Generated.xcconfig
app/macos/Flutter/GeneratedPluginRegistrant.swift
app/macos/Flutter/GeneratedPluginRegistrant.h
app/macos/Flutter/GeneratedPluginRegistrant.m
app/web/
app/windows/Flutter/ephemeral/
app/windows/Flutter/generated_plugin_registrant.cc
app/windows/Flutter/generated_plugin_registrant.h
app/windows/Flutter/generated_plugins.cmake
app/linux/flutter/ephemeral/
app/linux/flutter/generated_plugin_registrant.cc
app/linux/flutter/generated_plugin_registrant.h
app/linux/flutter/generated_plugins.cmake


